@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.hero {
  background-color: $color-bunting;
  height: 78vh;

  @media (min-width: $break-md) {
    height: 700px;
    background-image: none;
  }

  @media (min-width: $break-lg) {
    height: fit-content;
  }
}

.heroMobile {
  height: 100%;
  width: 100%;
  position: relative;

  @media (min-width: $break-md) {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, rgba(21,24,63,1) 0%, rgba(21,24,63,0.4) 30%, rgba(21,24,63,0.4) 60%, rgba(21,24,63,1) 100%);

  width: 100%;
  height: 100%;
}

.heroDesktop {
  display: none;

  @media (min-width: $break-md) {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 30px 0 60px;
  z-index: 3;

  @media (min-width: $break-md) {
    padding: 60px 0;
  }

  @media (min-width: $break-lg) {
    flex-direction: row;
    padding: 0;
  }
}

.decor {
  display: none;
  height: 60px;
  width: 100%;
  background-color: $color-vanilla;

  @media (min-width: $break-lg) {
    display: block;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $break-md) {
    min-width: 90%;
  }

  @media (min-width: $break-lg) {
    min-width: 50%;
    width: 50%;
  }

  & h1 {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 3;


    @media (min-width: $break-sm) {
      font-size: 38px;
    }


    @media (min-width: $break-md) {
      font-size: 44px;
    }

    @media (min-width: $break-lg) {
      font-size: 56px;
    }

    @media (min-width: $break-xl) {
      font-size: 82px;
    }

    & span {
      display: block;
      width: fit-content;
      background-color: $color-white;
      margin-bottom: 14px;
      padding: 6px 10px;
      transform: skew(-15deg);
      box-shadow: -8px -8px 0px -3px $color-bouquet;


      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.imageWrapper {
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: center;

  @media (min-width: $break-sm) {
    max-width: 80%;
  }

  @media (min-width: $break-md) {
    max-width: 90%;
    margin-top: -120px;
    justify-content: flex-end;
  }

  @media (min-width: $break-lg) {
    max-width: 50%;
    margin-top: -60px;
    margin-left: -50px;
  }

  @media (min-width: $break-2xl) {
    margin-left: -80px;
  }
}

.imageDesktop {
  display: none;

  @media (min-width: $break-md) {
    display: block;
    width: 440px;
    height: 440px;
  }

  @media (min-width: $break-lg) {
    width: 560px;
    height: 560px;
  }

  @media (min-width: $break-xl) {
    width: 640px;
    height: 640px;
  }

  @media (min-width: $break-2xl) {
    width: 740px;
    height: 740px;
  }
}

.button {
  @include button;
  cursor: pointer;
  transition: all .5s ease-out;

  span {
    display: inline-block;
    margin-right: 5px;

    @media (min-width: $break-md) {
      transition: transform .6s .1s linear;
      transform: rotate(-10deg);
      transform-origin: 30%;
    }
  }

  &:hover {
    box-shadow: -7px -7px 0px -2px $color-bouquet;

    & span {
      transform: rotate(0);
    }
  }

  &:active {
    background-color: $color-bouquet;
    transition: all .3s linear;
  }
}


.buttonDesktop {
  display: none;

  @media (min-width: $break-md) {
    margin-top: 30px;
    display: block;
    z-index: 3;
  }

  @media (min-width: $break-lg) {
    margin-top: 60px;
  }
}

.buttonMobile {
  display: block;
  z-index: 3;
  background-color: $color-bouquet;

  @media (min-width: $break-md) {
    display: none;
  }
}