@import './variables.scss';

@mixin star($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@mixin button {
  padding: 20px 30px;
  border: 1.5px solid $color-white;
  color: $color-white;
  width: fit-content;
  font-size: 16px;
  background-color: transparent;
  font-weight: 500;

  @media (min-width: $break-sm) {
    font-size: 16px;
  }

  @media (min-width: $break-lg) {
    font-size: 18px;
  }

  @media (min-width: $break-xl) {
    font-size: 20px;
    padding: 30px 40px;
  }
}