// Colors
$color-bouquet: #B980A0;
$color-vanilla: #FFF1D7;
$color-bunting: #15183F;
$color-jordy-blue: #95AFF2;
$color-white: #FFF;
$color-black: #000;

//Breakpoints 
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-2xl: 1400px;

// Global vars
$navbar-height: 80px;
